<!DOCTYPE html>

<html lang="en">
<head>
</head>

<body>
  <div>
    <h1> Welcome to the {{title}}! </h1>

    <div class="notification-container" id="notification-container">
    <div class="notification notification-info">
        <strong>Info:</strong> Lorem ipsum dolor sit amet.
    </div>

    <div class="notification notification-success">
        <strong>Success:</strong> Lorem ipsum dolor sit amet consectetur
        adipisicing elit.
    </div>

    <div class="notification notification-warning">
        <strong>Warning:</strong> Lorem ipsum dolor sit amet, consectetur
        adipisicing.
    </div>

    <div class="notification notification-danger">
        <strong>Danger:</strong> Lorem ipsum dolor sit amet consectetur.
    </div>
  </div>


  </div>
</body>
</html>
